# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
/temp/
/src/.directory
/src/j-lawyer.org-UserGuide-de.pdf
/src/j-lawyer.BOX-QuickStart-de.pdf
/site/
